

#continer{
    background-color: aqua;
    margin: 10px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hed{
    font-size: 40px;
    border: 2px solid gray;
    background-color:rgba(7, 156, 20, 0.585);
    padding: 5px;
    text-align: center;
    color:yellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input{
    border: 3px solid red;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
    
}
#btn{
    border: 3px solid black;
    border-radius: 5px;
    font-size: 30px; 
    background-color:blue;
    color:whitesmoke;
    padding: 5px;
    margin: 10px;
}
#result{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    font-weight: bold;
}
#grid{
    display: grid;
    grid-gap:10px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;

}